.widget-content{
    width: 100px;
    height: 100px;
    background: goldenrod;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    cursor: pointer;
}
.Droopable-content { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0;
    border: 1px solid #ccc; 
}
.Droopable-header { 
    width: 150px; 
    height: 150px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px;
    background: #ccc;
    border: 1px solid;
}
.ui-state-highlight{
    border: 1px solid #ccc;
    background: lightcoral;
    color: yellow;
}
/* Start Sort */
.sort{
    width: 500px;
    margin: 0 auto;
}
/* #sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 60%; 
}
#sortable li { 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.4em; 
    height: 18px; 
}
#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
} */

/* Start Add Class */
.toggler { 
    width: 500px; 
    height: 200px; 
    position: relative; 
}
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}
#effect { 
    width: 240px;  
    padding: 1em; 
    border: 1px solid #000; 
    background: #eee; 
    color: #333; 
}
.newClass { 
    text-indent: 40px; 
    letter-spacing: .4em; 
    width: 410px; 
    height: 120px; 
    padding: 30px; 
    margin: 10px; 
    font-size: 1.1em; 
}
/* End Add Class */
/* Start Color Animation */
.c-toggler { 
    width: 500px; 
    height: 200px; 
    position: relative; 
}
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}
#effect { 
    width: 240px; 
    height: 170px; 
    padding: 0.4em; 
    position: relative; 
    background: #fff; 
}
#effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}
/* End Color Animation */
/* Start Effect */
.e-togglerr { 
    width: 500px; 
    height: 200px; 
    position: relative; 
}
#button-2 { 
    padding: .5em 1em; 
    text-decoration: none; 
}
#e-effect { 
    width: 240px; 
    height: 170px; 
    padding: 0.4em; 
    position: relative; 
}
#e-effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}
.ui-effects-transfer { 
    border: 2px dotted gray; 
}
/* End Effect */